@import "../neat/neat-helpers";

// Show grid
//$visual-grid: true !global;
//$visual-grid-color: #000;

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(960);

// Neat Breakpoints
$small-screen: em(320);
$medium-screen: em(768);
$large-screen: em(1140);

$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
